name: cifra-k-backend

services:
  postgres:
    container_name: cifra-k-backend-postgres
    env_file: .env
    expose:
      - 5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgis/postgis:18-3.6
    platform: linux/amd64
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql

volumes:
  postgres:
    name: cifra-k-postgres